{% extends 'base.html' %}
{% load i18n staticfiles %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'bootstrap3-typeahead.js' %}"></script>
{% endblock %}

{% block content %}
{% load jsonify %}
<div class="row">
    <div class="col-xs-12 col-md-4">
        <h2>{% trans 'Select warehouse' %}</h2>
        <div class="list-group">
            {% for iwarehouse in warehouses %}           
                <a href="{% url 'stocks_quantities' iwarehouse.symbol %}" class="list-group-item{% if iwarehouse.symbol = warehouse.symbol %} active{% endif %}">{{ iwarehouse.symbol }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="col-xs-12 col-md-8">
        <div class="row">
            <div class="col-lg-12">
                <h2>{% trans 'Query for products' %}</h2>
                <!-- Product -->
                <table id="products" class="table">
                    <thead><tr><th>{% trans 'Product' %}</th><th>{% trans 'Quantity' %}</th></tr></thead>
                    <tbody></tbody>
                    <script>
                        var products = []
                    </script>
                </table>
                <div id="delivery_time"></div>
                <!-- Button trigger modal -->
                    <button class="btn btn-primary btn" data-toggle="modal" data-target="#myModal">
                        {% trans 'Query for product' %}
                </button>
          </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans 'Close' %}</span></button>
                <h4 class="modal-title" id="myModalLabel">{% trans 'Query for product' %}</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="product">{% trans 'Product' %}</label>
                        <input type="text" id="product" class="form-control" autocomplete="off" laceholder="{% trans 'Product' %}">
                        <script>
                            $("#product").typeahead({ source:{{ products|jsonify }} });
                        </script>
                    </div>
                    <div class="form-group">
                        <label for="quantity">{% trans 'Quantity' %}</label>
                        <input type="text" id="quantity" class="form-control" placeholder="{% trans 'Quantity' %}">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                <button type="button" id="add_product_to_query" class="btn btn-primary">{% trans 'Add product to query' %}</button>
                <script>
                    $(document).ready(function() {
                        var count = 0;
                        $('#add_product_to_query').click(function() {
                            $('#myModal').modal('hide')
                            var product = $('#product').val(),
                                quantity = $('#quantity').val()
                            product += '<input type="hidden" class="product_quantity" name="product_quantity" value="'+product+':'+quantity+'">'
                            var id = 'rm_product_quantity_' + count; count += 1
                            var close_btn = '<a class="close rm_product_quantity_btn" remove="' + id + '" >&times;</a>'
                            $('#products > tbody').append('<tr id="' + id + '"><td>'+product+'</td><td>'+quantity+close_btn+'</td></tr>')
                            do_compute_time() 
                        })
                        $(document).on('click', '.rm_product_quantity_btn', function() {
                            var to_remove = $(this).attr('remove')
                            $("#"+ to_remove).remove()
                            do_compute_time()
                        });
                    })
                    function do_compute_time() {
                        var products_quantities = []
                        $('.product_quantity').each(function(i, e) {
                            products_quantities.push($(e).attr('value'))
                        })



                        $('#delivery_time').text('')
                        $.post(
                            "{% url 'delivery_time' warehouse.symbol %}",
                            {'products_quantities': products_quantities.join()},
                            function(data) {$('#delivery_time').text(data)},
                            'text'
                        );
                    }
                </script>
            </div>
        </div>
    </div>
</div>
{% endblock %}
