{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Warehouse management">
        <meta name="keywords" content="warehouse, management">
        <meta name="author" content="Piotr Zborowski">
        <title>{% trans 'Warehouse management' %}</title>

        {% block stylesheets %}
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="{% static 'bootstrap-3.2.0-dist/css/bootstrap.min.css' %}">

            <!-- Optional theme -->
            <link rel="stylesheet" href="{% static 'bootstrap-3.2.0-dist/css/bootstrap-theme.min.css' %}">
        {% endblock %}

        {% block javascript %}
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script type="text/javascript" src="{% static 'django_csrf.js' %}"></script>

            <!-- Latest compiled and minified JavaScript -->
        <script src="{% static 'bootstrap-3.2.0-dist/js/bootstrap.min.js' %}"></script>
        {% endblock %}
        {% block extra_head %}
        {% endblock %}
    </head>
    <body>
        {% csrf_token %}
        <script type="text/javascript">
            $(document).ajaxSend(csrf_send_handler)
        </script>

        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>
        <div id="footer">
          <div class="container">
            <p class="text-muted">{% trans 'contact' %}: <a href="mailto: piozbo@gmail.com">piozbo@gmail.com</a>; {% trans 'copyright' %} 2014 Piotr Zborowski</p>
          </div>
        </div>
    </body>
</html>

